/* width */

@media screen and (max-width: 1085px) {
	.calculator-card {
		padding: 10vw;
	}
}

@media screen and (max-width: 600px) {
	body {
		display: block !important;
		justify-content: normal !important;
		align-items: unset !important;
	}

	.calculator-card {
		height: 80vh;
	}
}

@media screen and (max-width: 560px) {
	.calculator-card {
		height: 60vh;
		padding: 15vw 5vw 15vw 5vw !important;
	}
}

@media screen and (max-width: 497px) {
	.calculator-card {
		padding: 15vw 3vw 15vw 3vw !important;
	}
}

@media screen and (max-width: 476px) {
	.calculator-card {
		height: 70vh;
		padding: 15vw 1vw 15vw 1vw !important;
	}
}

@media screen and (max-width: 457px) {
	body {
		margin: 0;
		padding: 0;
	}

	.calculator-card {
		height: 80vh;
		padding: 15vw 0vw 15vw 0vw !important;
	}
}

@media screen and (max-width: 431px) {
	* {
		font-size: large !important;
	}

	.calculator input {
		margin: auto;
		width: 270px;
		border: none;
		border-radius: 25px;
		line-height: 40px;
		font-size: 17px;
		outline: none;
		padding: 0 12.5px 0 12.5px;
		position: relative;
		left: 15vw;
	}

	.tabs {
		position: relative;
		left: 6vw;
	}

	.calculator-card {
		height: 90vw;
		padding-bottom: 15vw;
	}

	.calculator-buttons td button {
		font-size: xx-large !important;
	}

	.tabs button {
		padding: 2vw !important;
		font-size: 20px !important;
	}
}