* {
	outline-color: rgba(0, 255, 255, 1);
}

body {
	display: flex;
	justify-content: center;
	background: url(images/0048.jpg);
	align-items: center;
	height: 100%;
	overflow-y: hidden;
	background-position: center !important;
	background-size: cover;
}

/* Tabs */

.tabs {
	display: inline-block;
	min-width: 50%;
}

.tabs button {
	font-size: x-large;
	border: none;
	background: rgba(255, 255, 255, 0.5);
	padding: 1vh;
	margin-right: 1px;
	color: inherit;
	border-radius: 5px;
}

.tabs button:nth-child(1) {
	float: left;
}

.tabs button:nth-child(2) {
	float: right;
}

.tabs button:hover {
	background: rgba(255, 255, 255, 0.7);
}

.tabs .tabs-active {
	border-bottom: 5px solid midnightblue !important;
}

.tabs .tabs-active:hover {
	background: rgba(255, 255, 255, 0.5) !important;
}

.tabs .tabs-inactive {
	background: rgba(150, 150, 150, 0.5) !important;
}

.tabs .tabs-inactive:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}


/* Calculator body */

.calculator-card {
	border: 1px grey;
	border-radius: 10px;
	padding: 20vh 13vh 20vh 13vh;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	max-height: 100%;
}

.calculator-card table {
	display: flex;
	justify-content: center;
}

.calculator input {
	margin: auto;
	width: 410px;
	border: none;
	border-radius: 25px;
	line-height: 50px;
	font-size: 20px;
	/*outline: none;*/
	padding: 0 12.5px 0 12.5px;
	caret-color: transparent;
}

.calculator-buttons td button {
	border: 1px grey;
	border-radius: 10px;
	padding: 1vh 2vh 1vh 2vh;
	font-size: xx-large;
	background: rgba(255, 255, 255, 0.5);
}

.calculator-buttons td button:hover {
	background: rgba(255, 255, 255, 0.7);
}

.calculator-buttons .special {
	background: rgba(0, 255, 255, 0.6);
}

.calculator-buttons .special:hover {
	background: rgba(0, 255, 255, 0.8);
}

#scientific-calculator {
	display: flex;	
}

/* Theme Changer Button */

.theme-toggler {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px 10px 5px 10px;
	background: rgba(255, 255, 255, 0.8);
	border: none;
	border-radius: 8px;
	font-size: large;
	margin: 1vh;
}

.theme-toggler:hover {
	background: rgba(255, 255, 255, 0.65);
}


/* Re-usable components */

.shadow {
	box-shadow: 0 0 0.2px rgba(150,150,150,.1);
}

.hidden {
	display: none !important;
}