* {
	outline-color: rgba(0, 255, 255, 1);
}

body {
	background: url(images/0048.jpg);
	align-items: center;
	height: 100%;
	overflow-y: hidden;
	background-position: center !important;
	background-size: cover;
	padding: 1rem;
}


.tabs {
	display: inline-block;

	button {
		font-size: 1.2em;
		border: none;
		background: rgba(255, 255, 255, 0.5);
		padding: 0.5rem;
		color: inherit;
		border-radius: 0.35rem;
		
		&:hover {
			background: rgba(255, 255, 255, 0.7);
		}
	}
	
	.tabs-active {
		border-bottom: 5px solid midnightblue !important;
	
		&:hover {
			background: rgba(255, 255, 255, 0.5) !important;
		}
	}
	
	.tabs-inactive {
		background: rgba(150, 150, 150, 0.5) !important;
	
		&:hover {
			background: rgba(255, 255, 255, 0.7) !important;
		}
	}
}

.calculator-card {
	border-radius: 0.5rem;
	padding: 5rem 2.5rem;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
}

.calculator input {
	margin: auto;
	width: 14em;
	border: none;
	border-radius: 25px;
	line-height: 50px;
	font-size: 1.5em;
	/*outline: none;*/
	padding: 0 12.5px 0 12.5px;
	caret-color: transparent;
}

.calculator-buttons {
	display: grid;
	max-width: 30rem;

	p {
		margin: 0;
		padding: 0;
	}

	button {
		border: none;
		border-radius: 0.5rem;
		padding: 1vw 2vw;
		font-size: 2em;
		background: rgba(255, 255, 255, 0.5);
		margin: 0.15rem;
	
		&:hover {
			background: rgba(255, 255, 255, 0.7);
		}
	}

	#zero {
		grid-row-start: 5;
		grid-column: 2 / span 2;
	}

	.special {
		background: rgba(0, 255, 255, 0.6);
	
		&:hover {
			background: rgba(0, 255, 255, 0.8);
		}
	}
}

#scientific-calculator .calculator-buttons {
	grid-template-columns: repeat(auto-fit, minmax(5rem, 2fr));
}

#normal-calculator .calculator-buttons {
	grid-template-columns: auto auto auto auto;
}

.theme-toggler {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 5px 10px 5px 10px;
	background: rgba(255, 255, 255, 0.8);
	border: none;
	border-radius: 8px;
	font-size: large;
	margin: 0.5rem;

	&:hover {
		background: rgba(255, 255, 255, 0.65);
	}
}


/* 
	========
	Utillity classes
	========
*/

.hidden {
	display: none !important;
}